/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
    --mat-snack-bar-button-color: white !important;
    --mat-snack-bar-container-color: #4caf50 !important;
    --mat-snack-bar-supporting-text-color: white !important;
}

.snackbar-error {
    --mat-snack-bar-button-color: white !important;
    --mat-snack-bar-container-color: #f44336 !important;
    --mat-snack-bar-supporting-text-color: white !important;
}
