
<span *ngIf="!create">
<h2 mat-dialog-title>Connectez vous</h2>
<mat-dialog-content >
  <form #entryForm="ngForm">
    <mat-form-field style="width: 100%;">
      <mat-label>Username</mat-label>
      <input
        matInput
        name="name"
        [(ngModel)]="data.name"
        required
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Password</mat-label>
      <input
        matInput
        name="password"
        [(ngModel)]="data.password"
        required
        autocomplete="off"
        type="password"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="create=true">
    Créer un compte
  </button>
  <button mat-button mat-dialog-close>Annuler</button>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="{
      name: data.name,
      password: data.password,
      create: false
    }"
    [disabled]="!data.name || data.name.trim().length === 0 || !data.password || data.password.trim().length === 0"
  >
    Se connecter
  </button>
</mat-dialog-actions>
</span>

<span *ngIf="create">
<h2 mat-dialog-title>Créez un compte</h2>
<mat-dialog-content >
  <form #entryForm="ngForm">
    <mat-form-field style="width: 100%;">
      <mat-label>Username</mat-label>
      <input
        matInput
        name="name"
        [(ngModel)]="data.name"
        required
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        [(ngModel)]="data.email"
        required
        autocomplete="off"
        type="email"
      />
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Password</mat-label>
      <input
        matInput
        name="password"
        [(ngModel)]="data.password"
        required
        autocomplete="off"
        type="password"
      />
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        name="password_verif"
        [(ngModel)]="data.password_verif"
        required
        autocomplete="off"
        type="password"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="create=false">
    <-
  </button>
  <button mat-button mat-dialog-close>Annuler</button>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="{
      name: data.name,
      password: data.password,
      create: true,
      email: data.email
    }"
    [disabled]="!data.name || data.name.trim().length === 0 || !data.password || data.password.trim().length === 0 || data.password !== data.password_verif || !data.email || data.email.trim().length === 0 ||!validateEmail(data.email)"
  >
    Créer le compte
  </button>
</mat-dialog-actions>
</span>